<div class="vlStyle">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Visitor ID</th>
                <th>Visitor Name</th>
                <th>Visit Date</th>
                <th>Visit Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>sona</td>
                <td>16/04/2025</td>
                <td>01:22:PM</td>
                <td><button class="btn btn-primary">Delete</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>mashu</td>
                <td>15/04/2025</td>
                <td>02:22:PM</td>
                <td><button class="btn btn-primary">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>