<div class="addvStyle">
    <form >
        <div class="form-group">
            <label for="visitorId">Visitor Id:</label>
            <input type="text" [(ngModel)]="visId" class="form-control" id="visitorId" placeholder="Enter visitor Id" name="visId">
            
        </div>
        <div class="form-group">
            <label for="visitorName">Visitor Name:</label>
            <input  type="text" class="form-control" id="visitorName" maxlength="40" placeholder="Enter visitor name" name="visName" (keyup)="OnUserKeyUp()" [(ngModel)]="visName">
            <label>No. of chars Left: </label>{{numChars}}
        </div>
        <div class="form-group">
            <label for="visitorDate">Visit Date:</label>
            <input type="date" [(ngModel)]="visDate" class="form-control" id="visitorDate" placeholder="Enter visitor date" name="visDate">
        </div>
        <div class="form-group">
            <label for="visitorTime">Visit Time:</label>
            <input type="time" [(ngModel)]="visTime" class="form-control" id="visitorTime" placeholder="Enter visitor time" name="visTime">
        </div>
            <button class="btn btn-secondary form-control" (click)="OnVisitorAdd()">Add Visitor</button>  
    </form>
    <span>No. of visitors: {{visitorData.length}}</span>
</div>