<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MySite.master.cs" Inherits="BlogWebApp.MySite" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div style="display:flex;flex-direction:column">
            <div style="width:100%;height:100px;background-color:aqua">
                <span style="color:white">Header logo</span>
            </div>
            <div style="width:100%;height:500px;display:flex;flex-direction:row;background-color:blueviolet">
                <div style="width:20%;height:500px;background-color:cornflowerblue">
                    <table>
                        <tr><td><a href="Add.aspx">AddBlogPost</a></td></tr>
                        <tr><td><a href="View.aspx">ViewBlogPost</a></td></tr>
                        <tr><td><a href="AddComment.aspx">AddComment</a></td></tr>
                        <tr><td><a href="ViewComment.aspx">ViewComment</a></td></tr>
                    </table>
                </div>
                <div style="width:80%;height:500px;background-color:darkolivegreen">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
    `           </div>
            </div>
            <div style="display:flex;flex-direction:column;width:100%;height:100px;background-color:darkslateblue">
                Footer logo
            </div>
        </div>
    </form>
</body>
</html>
