<nav>
    <a routerLink="/dashboard/admin/user-list">Users</a> |
    <a routerLink="/dashboard/admin/add-user">Add User</a> |
    <a routerLink="/dashboard/admin/view-restaurant">Restaurants</a><br>
    <br>

    <a routerLink="/dashboard/owner/owner-orders">Owner Order</a> |
    <a routerLink="/dashboard/owner/owner-restro">Owner Restro</a>
    <br><br>
    <a routerLink="/dashboard/user/user-orders">User Order</a> |
    <a routerLink="/dashboard/user/user-menu">User Menu</a> |
    <a routerLink="/dashboard/user/user-profile">User Profile</a>
    
    
  </nav>
  
