body{
    font-family:Arial, sans-serif;
    
    margin-top:50px;
}
.container{
    width:75%;
    margin:0 auto;
    padding:20px;
    border:1px solid #ccc;
    box-shadow:2px 2px 8px rgba(0,0,0,0.1);
}
h1{
    margin-bottom:20px;
}
meter{
    width:50%;
    height:50px;
    border:thick;
}
