<div class="container-fluid vlStyle">
    <div class="row" id="row1">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Visitor ID</th>
                <th>Visitor Name</th>
                <th>Visit Date</th>
                <th>Visit Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>1</td>
                <td>sona</td>
                <td>16/04/2025</td>
                <td>01:22:PM</td>
                <td><button class="btn btn-primary">Delete</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>mashu</td>
                <td>15/04/2025</td>
                <td>02:22:PM</td>
                <td><button class="btn btn-primary">Delete</button></td>
            </tr> -->
            <tr *ngFor="let v of visitor_list; let index = index">
                <td>{{v.visitorId}}</td>
                <td>{{v.visitorName}}</td>
                <td>{{v.visitorDate}}</td>
                <td>{{v.visitorTime}}</td>
                <td><button class="btn btn-primary" (click)="removeVisitor(index)">Delete</button></td>
                
            </tr>
        </tbody>
        <div *ngIf="showBox">
            No data found!
        </div>
    </table>
    </div>
    <div class="row" id="row2">
    <form>
        <table>
            <tr>
        <td><label>VisitorId</label></td>
        <td><input type="text" name="vid" [(ngModel)]="visLId"/></td>
    </tr>
        <tr><td><label>VisitorN</label></td>
        <td><input type="text" name="vname" [(ngModel)]="visLName"/>
        </tr>
        <tr><td><label>VisitDate</label></td>
        <td><input type="text" name="vdate" [(ngModel)]="visLDate"/></td>
    </tr>
        <td><label>VisitTime</label></td>
        <td><input type="text" name="vtime" [(ngModel)]="visLTime"/></td>
        <tr>
        <td><button class="btn btn-secondary" (click)="addNewVisitor()">Add</button>
        </tr>
        
    </table>
    
    </form>
    </div>
    
</div>