h1{
    background-color: bisque;
    color: brown;
}
#createnew{
    background-color: rgb(203, 164, 80);
    width: 20%;
    color: white;
    padding-left: 40px;
}
button:hover{
    background-color: cornflowerblue;
    cursor: pointer;

}
tbody tr:hover{
    background-color: dimgray;
}
select{
    cursor: pointer;
}

table thead{
    background-color: rgb(139, 75, 139);
    color: white;
}
table tbody{
    background-color: rgb(106, 207, 207);
}

#cnprj{
    background-color: rgb(203, 164, 80);
    width: 20%;
    color: white;
    padding-left: 40px;
}

h3{
    background-color: bisque;
    width: 9%;
    color: brown;
}

h2{
    background-color: bisque;
    width: 13%;
    color: brown;
}

#Discussions{
    background-color: rgba(255, 229, 136, 0.505);
    width: 25%;
}

#Discussions2{
    background-color: rgba(255, 229, 136, 0.505);
    width: 35%;
}

#loginform{
    background-color: rgb(230, 213, 156);
    border-style: dotted;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

#cnuser{
    background-color: rgb(203, 164, 80);
    width: 40%;
    color: white;
    padding-left: 40px;
}

#eduser{
    background-color: rgb(203, 164, 80);
    width: 40%;
    color: white;
    padding-left: 40px;
}

#taskcreate{
    background-color: rgb(203, 164, 80);
    width: 30%;
    color: white;
    padding-left: 40px;
}
h4 label{
    font-size:x-large;
    background-color: bisque;
    color: brown;
}

#cproject{
    background-color: rgb(230, 213, 156);
    border-style: dotted;
    padding-top: 1%;
    padding-bottom: 1%;
}



