.form-container {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 5px gray;
}

.task-table th, .task-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.task-table th {
    background: #007bff;
    color: white;
}
