<div class="container-fluid home_c">
  <div class="row">
    <div class="col-lg-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
        <app-navigation-component></app-navigation-component>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div><app-visitor-listing></app-visitor-listing></div>
            <div class="col-lg-12"><app-add-visitor></app-add-visitor></div>
        </div>
      
  </div>
</div>
  
</div>