.maincontent {
    color:violet;
    text-align: center;
}

.thp {
    text-align: right;
    background-color:moccasin;
    padding: 10px 7px 10px 1px;
}

hr {
    margin: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.tab {
    margin-top: 30px;
}

.tabhead {
    background-color:darkolivegreen;
}

.tabbody {
    background-color: lightsteelblue;
    text-align: center;
}

.matter {
    margin-top: 25px;
    background-color: skyblue;
    padding: 30px 100px;
    border-radius: 25px;
    border: 2px solid black;
}

.matter1 {
    margin-top: 20px;
    background-color: lightskyblue;
    border: 2px solid black;
}

.input {
    width: 100%;
}

.subbtn {
    width: 100%;
    background-color: rebeccapurple;
    border: 1px solid blue;
    padding: 3px 0px;
    color: white
}

.locdd {
    width: 100%
}

.logcontent {
    background-color:gray;
    margin-left: 40%;
    margin-right: 42%;
    margin-top: 180px;
    padding: 10px 20px 50px 30px;
    border-radius: 7px;
    border: 2px solid black
}

.bodbg {
    background-color:lightgrey;
}

.thala{
    
        text-align: right;
        background-color:moccasin;
        padding: 10px 20px 10px 1px;
       
}
.vij {
    text-align: right;
    background-color:mediumorchid;
    padding: 0px 7px 10px 1px;

}